
img {
  height: 350px;
  width: 100%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: inherit;

}

.who:hover .overlay {
  opacity: 1;
}
.intelect:hover .overlay {
  opacity: 1;
}
.goals:hover .overlay {
  opacity: 1;
}
.clow:hover .overlay {
  opacity: 1;
}
.social:hover .overlay {
  opacity: 1;
}


.row {
  margin: 2px;
  padding: 2px;
  border: 2px;
}

.text, h1 {
  text-align: center;
  color: purple;
}


.text1 {
  text-align: center;
  color: white;
}

.text2 {
  text-align: center;
  display: block;
  color: darkgreen;
}

.text3 {
  text-align: center;
  color: black;
}